.graphic {

  &.is-scrollable .graphic__image-container {
    display: block;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &.is-scrollable .graphic__image-container img {
    max-width: initial;
  }

  .graphic__widget {
    position: relative;

    .graphic__popup-icon, .graphic__link-icon {
      background-color: @item-color;
      color: @item-color-inverted;

      .no-touch &:hover {
          background-color: @item-color-hover;
          color: @item-color-inverted-hover;
          .transition(background-color @duration ease-in, color @duration ease-in;);
      }

      border-radius: 100%;
      padding: 0.5rem;

      width: 2.5rem;
      height: 2.5rem;

      position: absolute;
      top: 2rem;
      right: 2rem;

      .icon-search;

      cursor: pointer;
      pointer-events: auto;

      z-index: 10;

      display: none;

      &.is-visible {
        display: block;
      }

      &.is-selected {
          animation: none;
          background-color: @item-color-selected;
          color: @item-color-inverted-selected;
      } 
    }

    .graphic__link-icon {
        .icon-forward-arrow;
    }
  }

}
